*{
    margin:0;
    padding: 0;
    outline: 0;
  }
  body{
    background-color: #fffcfc;
  }
  
  
  
   .maincontent{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background: linear-gradient(90deg,rgb(0 123 183) 0,rgb(51 71 156) 15%,rgba(16,32,146,1) 51%,rgb(136 57 150) 100%);
    padding: 150px 0px;
    border-radius: 12px;
   }
  
   .content1 img{
    border-radius: 12px;
   }
   table{
  
    width: 60%; 
    border-collapse: collapse;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px;
    overflow: hidden;
   
   }
   td , th{
    padding: 15px 20px;
    text-align: center;
    
   
   }
   th{
    background-color: #ba68c8;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
   
   }
   tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
   }
   tr:nth-child(even){
    background-color: #eeeeee;
   }
  
   p{
    font-size: 50px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
  
  
   .certificate_container{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg,rgb(0 123 183) 0,rgb(51 71 156) 15%,rgba(16,32,146,1) 51%,rgb(136 57 150) 100%);
    padding: 30px;
    border-radius: 30px;
    padding-bottom: 30px;
    margin-bottom: 100px;
  
  
   }
  
   .certificate1, .certificate2, .certificate3{
    width: 300px;
    height: 200px;
    /* border: 1px solid black; */
   }
  
   .certificate1 img, .certificate2 img, .certificate3 img{
    width: 300px;
    border-radius: 12px;
    box-shadow:0 2px 15px rgba(64,64,64,.7) ; 
  }
  
  
  
  .analysis img{
    width: 700px;
    border: 5px solid black;
    border-radius: 12px;
  }