*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 254, 253);
    background-repeat: no-repeat;
    background-size: cover;

}

nav{
    /* border: 1px solid rgb(249, 242, 242); */
    width: 100%;
    height: 86px;
    background-color: rgba(34, 32, 32, 1.3);
    border-radius: 5px;
    position: fixed;
    top: 0;
    z-index: 2;
}

ul{
    color: white;
    display: flex;
    margin-left: 25%;
    position: relative;
    top: 30px;
}

ul a{
    text-decoration: none;
    list-style: none;
    margin-left: 5%;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.donate{
    border: none;
    border-radius: 20px;
    width: 100px;
    margin-left: 10%;
    padding: 10px;
    width: 100px;
    background-color: rgb(224, 151, 42);
    color: white;
    margin-bottom: 30px;
    margin-top: -30px;
    
}

header{
    height: 78px;
}

/* .navcontent{
    display: flex;

} */

.matchesbutton{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* margin-top: 300px; */
    position: sticky;
    top: 300px;
}
.matchesbutton button{
    background:linear-gradient(#4568dc , #b06ab3);
    border: none;
    padding: 20px;
    width:150px;
    color: white;
    border-radius: 30px;
    margin-left: 80px;
    position: relative;
    cursor: pointer;
    z-index:2 ;
 

}
.matchesbutton a{
    text-decoration: none;
}

.matchesbutton button:hover{
    color: aqua;
    box-shadow: 1px 1px 10px aqua;
}

.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 20px;
    /* border: 1px solid rgb(134, 18, 18); */
    background: linear-gradient(to right,#adf7f2, #67bff2);
    padding: 20px;
    width: 1150px;
    margin-left: 300px;
    position: relative;
    bottom: 130px;
    /* top: -425px; */
    border-radius: 10px;
    

}
.container{
    width: 275px;
    height:350px;
    /* border: 1px solid yellow; */
    border-radius: 10px;
}
.card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
   
}

.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
    border-radius: 10px;
    /* border: 1px solid rgb(220, 189, 17); */


}

.front,
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    
}

p{
    line-height: 1em;
    font-size: 14px;
    color: rgb(252, 252, 252);
}


.pp1container{
    display: flex;
    justify-content: space-around;
}
.pp2container{
    display: flex;
    justify-content: space-around;
    
}
.p1{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.p2{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.pp1 h2{
  font-size: 18px;
}

.pp1 h3{
  font-size: 10px;
}
.pp2 h2{
    font-size: 10px;
    text-align: center;
  }
  
  .pp2 h3{
    font-size: 18px;
    text-align: center;
  }





.front{
    background-color:aliceblue;
    background:linear-gradient(#4568dc , #b06ab3);  
}

.back{
    
    background:linear-gradient(#4568dc , #b06ab3);
    transform: rotateY(180deg);
    border-radius: 10px; 
    background:linear-gradient(#fafafc , #c6a2b9);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: -40px;
    padding-bottom: -40px;
    border: 1px solid black;
    height: 350px;   
}
.buy{
  width: 70px;
  border-radius: 10px;
  border: none;
  height: 30px;
  background: linear-gradient(#FC575E,#F7B42C);
  margin-left: 90px;
  margin-top: 20px;

}
.c1{
    width: 70%;
    height: 50%;   
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 10px;
}
.name{
    color: black;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;

}



.navcontent {
    height: 100%;
    width: 100%;
    position: relative;
}

.navcontent video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  opacity: 0.3;
}
