body{
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
}

.service{
    width: 100%;
    padding: 100px 0;
    background-color: #F8F9FA;
    text-align: center;
    box-sizing: border-box;
}
.service h5{
    color: rgb(1, 99, 1);
    letter-spacing: 2px;
    font-weight: 600;
}
.service h1 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 10px;
}

/* details service */
.service .details {
    width: 75%;
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
}
.details{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}
.details .info {
    padding: 0 15px;
}
.details .info .logo {
    padding: 34px;
    width:45px;
    margin: 0 auto;
    background-color: rgb(1, 161, 1);
    border-radius: 500px;
    color: white;
    font-size: 30px;
}
.details .info #head {
    padding: 20px 0 10px;
    color: black;
    font-weight: 500;
}


    .service{
        padding: 70px 0;
    }
    .service h1 {
        font-size: 30px;
    }
    .service .details {
        width: 100%;
        padding-top: 25px;   
    }
    .details .info {
        padding: 0 15px 25px;
    }
    .details .info .logo {
        padding: 34px;
        width:45px;
    }

