@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
        background:linear-gradient(#d6d8de , #d7ccd7);

  
}

nav{
    /* border: 1px solid rgb(249, 242, 242); */
    width: 100%;
    height: 86px;
    background-color: rgba(17, 2, 2, 1.3);
    border-radius: 5px;
}

ul{
    color: white;
    display: flex;
    margin-left: 25%;
    position: relative;
    top: 3px;
}

ul a{
    text-decoration: none;
    list-style: none;
    margin-left: 5%;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.donate{
    border: none;
    border-radius: 20px;
    width: 100px;
    margin-left: 10%;
    padding: 10px;
    width: 100px;
    background-color: rgb(224, 151, 42);
    color: white;
    margin-bottom: 30px;
    margin-top: -30px;
    
}


.matchesbutton button{
    background:linear-gradient(#4568dc , #b06ab3);
    border: none;
    padding: 20px;
    width:150px;
    color: white;
    border-radius: 30px;
    margin-left: 80px;
    position: relative;
    top: 100px;
    left: 350px;
    cursor: pointer;
}


.matchesbutton button:hover{
    color: aqua;
    box-shadow: 1px 1px 10px aqua;
}


.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
    margin-top: 100px;
    height:600px;
    background-image: url('https://w0.peakpx.com/wallpaper/36/34/HD-wallpaper-black-leather-leather-texture-black-background.jpg'); 

    /* background-color: #838285; */
    color: white;
    font-family: 'DM Mono', monospace;
    background-image: url(/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-list::-webkit-scrollbar {
    height: 0px;
}




.card {
    position: relative;
    border: 2px solid rgb(26, 216, 216);
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #dbdadb;
    box-shadow: -0.5rem 0 1rem rgb(252, 246, 246);
    display: flex;
    flex-direction: row;
    transition: .2s;
    
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.c1{
    width: 70%;
    height: 50%;   
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 10px;
}
.name{
    color: black;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;

}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    /* backface-visibility: hidden; */
    border-radius: 10px;
    
}

p{
    line-height: 1em;
    font-size: 14px;
    color: rgb(252, 252, 252);
}


.pp1container{
    display: flex;
    justify-content: space-around;
}
.pp2container{
    display: flex;
    justify-content: space-around;
    
}
.p1{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.p2{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.pp1 h2{
  font-size: 18px;
}

.pp1 h3{
  font-size: 10px;
}
.pp2 h2{
    font-size: 10px;
    text-align: center;
  }
  
  .pp2 h3{
    font-size: 18px;
    text-align: center;
  }







.back{
    
    background-image: linear-gradient(to right,#adf7f2, #15aaff);
    border-radius: 10px; 
    background:linear-gradient(to right,#adf7f2, #15aaff);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: -40px;
    padding-bottom: -40px;
    border: 1px solid black;
    height: 270px;  
    width: 350px; 
    position: absolute;
    top: 250px;
    left: -2px;
}
.buy{
  width: 70px;
  border-radius: 10px;
  border: none;
  height: 30px;
  background: linear-gradient(#FC575E,#F7B42C);
  margin-left: 90px;
  margin-top: 20px;

}
