* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}


.section1 {
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    background-image: url('../images/flipper/4.webp');
    background-size: cover;
    background-repeat: no-repeat;
}


nav {
    /* border: 1px solid rgb(249, 242, 242); */
    width: 100%;
    height: 86px;
    background-color: rgba(15, 14, 14, 0.3);
    border-radius: 5px;
    position: fixed;
    top: 0;
}

ul {
    color: white;
    display: flex;
    margin-left: 25%;
    margin-top: 20px;
    height: -300px;
}

ul a {
    text-decoration: none;
    list-style: none;
    margin-left: 5%;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ul a:hover{
    transform: scale(1.3);
    border: 1px solid rgb(254, 249, 249);
    box-shadow: 2px 2px 1px aqua;
} */

.donate {
    border: none;
    border-radius: 20px;
    width: 100px;
    margin-left: 10%;
    padding: 10px;
    width: 100px;
    background-color: rgb(224, 151, 42);
    color: white;
    margin-bottom: 30px;
    margin-top: -30px;

}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    /* -webkit-text-stroke: 1px white; */
    color: transparent;
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -800px;
    animation: backcolor 7s both 1 alternate;
}

@keyframes backcolor {
    100% {
        background-position: 0;
    }

}


.login {
    margin-top: 500px;
    margin-left: 500px;
    width: 200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 20px;
    color: rgb(74, 164, 129);
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
    border: 1px solid rgb(179, 173, 173);

}

.register {
    margin-top: 500px;
    margin-left: 100px;
    width: 200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 20px;
    color: rgb(74, 164, 129);
    border: 1px solid rgb(179, 173, 173);
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}


.login:hover,
.register:hover {
    transform: scale(1.1);
    border: 1px solid rgb(254, 249, 249);
    box-shadow: 2px 2px 12px aqua;
}


.playersection {
    /* background-color: rgb(166, 169, 172); */
}


.players {
    /* border: 1px solid red; */
    margin-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.players1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    border: 1px solid rgb(54, 214, 229);
    width: 95%;
    border-radius: 20px;
    background-color: rgb(196, 188, 188);
    box-shadow: 1px 1px 10px aqua;
}


.players1 img {
    width: 600px;
    height: 400px;
    border-radius: 15px;
}


.players1 p {
    width: 500px;
    font-size: 23px;
    font-family: cursive;
    font-weight: bold;
}

/*********************************************** services**************************** */

.service {
    width: 100%;
    padding: 100px 0;
    background-color: #F8F9FA;
    text-align: center;
    box-sizing: border-box;
}

.service h5 {
    color: rgb(1, 99, 1);
    letter-spacing: 2px;
    font-weight: 600;
}

.service h1 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 10px;
}

/* details service */
.service .details {
    width: 75%;
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
}

.details {
    display: flex;
    flex-direction: row;
}

.details .info {
    padding: 0 15px;
}

.details .info .logo {
    padding: 34px;
    width: 45px;
    margin: 0 auto;
    background-color: rgb(1, 161, 1);
    border-radius: 500px;
    color: white;
    font-size: 30px;
}

.details .info #head {
    padding: 20px 0 10px;
    color: black;
    font-weight: 500;
}


.service {
    padding: 70px 0;
}

.service h1 {
    font-size: 30px;
}

.service .details {
    width: 100%;
    padding-top: 25px;
}

.details .info {
    padding: 0 15px 25px;
}

.details .info .logo {
    padding: 34px;
    width: 45px;
}

/* *********************************contact************************************* */
.contact {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    padding: 125px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    background-image: url('https://w0.peakpx.com/wallpaper/36/34/HD-wallpaper-black-leather-leather-texture-black-background.jpg');
}

.contact h1 {
    color: white;
    text-align: center;
}

.contactcontanner {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.contactcontanner .contanner {
    width: 30%;
}

.contactcontanner .contanner .heading {
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid white;
    margin-bottom: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .07);
}

.heading .icon {
    padding: 0 0 0 20px;
    font-size: 20px;
    color: rgb(3, 180, 3);
}

.heading .info {
    width: 70%;
    margin: 25px auto;
    color: white;
}

.heading .info #contactinfo {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
}

/* message form */
.messageform {
    width: 70%;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .07);
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.messageform .form {
    width: 80%;
    margin: 50px auto;
}

.messageform input,
.messageform #inputbox {
    width: 100%;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid white;
    outline: none;
    background-color: transparent;
}

.messageform button {
    padding: 10px 50px;
    margin-top: 20px;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    background: linear-gradient(to left, transparent 50%, rgb(3, 180, 3) 50%);
    background-size: 200%;
    background-position: left;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s;
}

.messageform button:hover {
    background-position: left;
}

/* ***********************************footer************************************* */
body {
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    font-family: Open Sans;
}



.footer-distributed {
    background: #666;
    /* background-image: url('https://w0.peakpx.com/wallpaper/36/34/HD-wallpaper-black-leather-leather-texture-black-background.jpg'); */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
} 