*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{

    min-height: 100vh;
    /* background: rgb(211, 205, 205); */
    /* background:linear-gradient(#eceef5 , #f4ecf5); */

}
body::-webkit-scrollbar{
    display: none;
}


nav{
    border: 5px solid rgb(23, 20, 20);
    width: 100%;
    height: 86px;
    background-color: rgba(17, 2, 2, 1.3);
    border-radius: 5px;
}

ul{
    color: white;
    display: flex;
    margin-left: 25%;
    position: relative;
    top: 30px;
}

ul a{
    text-decoration: none;
    list-style: none;
    margin-left: 5%;
    color: rgb(239, 232, 232);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.donate{
    border: none;
    border-radius: 20px;
    width: 100px;
    margin-left: 10%;
    padding: 10px;
    width: 100px;
    background-color: rgb(224, 151, 42);
    color: white;
    margin-bottom: 30px;
    margin-top: -30px;
    
}
.matchesbutton{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    right: 300px;
    top: 150px;
}
    
.matchesbutton button{
    background:linear-gradient(#4568dc , #b06ab3);
    border: none;
    padding: 20px;
    width:150px;
    color: white;
    border-radius: 30px;
    margin-left: 80px;
    position: relative;
    top: 100px;
    left: 350px;
    cursor: pointer;
}

.matchesbutton button:hover{
    color: aqua;
    box-shadow: 1px 1px 10px aqua;
}
.container{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: space-around;
    margin-left: 400px;
    margin-top: -200px;
}
.card{
    position: relative;
    width: 300px;
    height: 330px;
    background: #333;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 10px;

}

 .card:hover{
   transform: scale(0.3);
   position: relative;
   z-index: 1;
   box-shadow: 2px 2px 20px rgb(206, 198, 198);
   transform: translateY(-20px);

} 

.card .lines{
    position: absolute;
    background:linear-gradient(#4568dc , #b06ab3);
    width: 100%;
    height: 100%;
    /* background-image:url(..//images/gettyimages-539235365-1024x1024.jpg) ; */

}



.c1{
    width: 70%;
    height: 50%;   
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 10px;
}
.name{
    color: black;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;

}
