*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,#adf7f2, #15aaff);

}

nav{
    /* border: 1px solid rgb(249, 242, 242); */
    width: 100%;
    height: 86px;
    background-color: rgb(22, 21, 21);
    border-radius: 5px;
}

ul{
    color: white;
    display: flex;
    margin-left: 25%;
    position: relative;
    top: 30px;
}

ul a{
    text-decoration: none;
    list-style: none;
    margin-left: 5%;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.donate{
    border: none;
    border-radius: 20px;
    width: 100px;
    margin-left: 10%;
    padding: 10px;
    width: 100px;
    background-color: rgb(224, 151, 42);
    color: white;
    margin-bottom: 30px;
    margin-top: -30px;
    
}
.matches{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;

}

img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid rgb(67, 215, 229);

}
img:hover{
    box-shadow: 2px 2px 50px aqua;
    transform:   scale(1);
    transition-duration: 0.5s;
    
}

