body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(240, 233, 233);
    background-image: linear-gradient(to right,#adf7f2, #15aaff);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;


}

.maincontainer{

}




.container{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255,0.2);
    margin-top: 200px;
    margin-left: 550px;
}

.main-content p{
    background: -webkit-linear-gradient(rgb(214, 142, 64), rgb(192, 76, 213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-top: 40px;

}
h1{
    color: white;
    margin-top: 40px;
}

 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 40px;

}

.ok{
    width:50px ;
    background-color: forestgreen;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-top: 40px;


}
